@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
body {
    width: 710px;
}
#coverletter {
    text-align: right;
}
#bodyletter {
    font-family: 'Bad Script', cursive;
    text-indent: 30px;
    text-align: justify;
}